@page
@model IndexModel
@{
    ViewData["Title"] = "Геокодирование";
}

<div class="container">
    <h1>Геокодирование городов</h1>
    <p class="text-muted">Локальная база данных с поддержкой русских названий</p>

    <div class="row">
        <div class="col-md-6 mb-4">
            <geocode city="Москва" show-map="true" map-width="100%" map-height="300px"></geocode>
        </div>
        <div class="col-md-6 mb-4">
            <geocode city="Казань" show-map="true" map-width="100%" map-height="300px"></geocode>
        </div>
        <div class="col-md-6 mb-4">
            <geocode city="Санкт-Петербург"></geocode>
        </div>
        <div class="col-md-6 mb-4">
            <geocode city="Екатеринбург"></geocode>
        </div>
        <div class="col-md-6 mb-4">
            <geocode city="Новосибирск"></geocode>
        </div>
        <div class="col-md-6 mb-4">
            <geocode city="Владивосток"></geocode>
        </div>
        <div class="col-md-6 mb-4">
            <geocode city="Сочи"></geocode>
        </div>
        <div class="col-md-6 mb-4">
            <geocode city="Краснодар"></geocode>
        </div>
    </div>
</div>