@page
@model IndexModel
@{
    ViewData["Title"] = "ДЗ 4";
}

<div class="text-center bg-secondary-subtle">
    <h3 class="display-4">Конвертер кг в унции</h3>
    <p class="my-2"><code>кг -> /?kg=</code></p>
    <div class="text-success bg-success-subtle d-inline-block">@Model.Output</div><br />

    <a href="/About">Обо мне</a>
</div>
