@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Шигапов ДЗ 4</h1>
    <form class="m-3" method="post">
        <div class="d-flex align-items-center justify-content-center gap-2 py-3">
            <label class="form-label mb-0" for="fib_count"> Введите количество чисел Фибоначчи</label>
            <input class="form-control flex-shrink-1 w-auto" id="fib_count" type="number" name="FibonacciCount" />
            <input class="btn btn-primary" type="submit" value="Отправить" />
        </div>
    </form>

    @if (Request.Method == "POST")
    {
        <h3>Метод POST</h3>
        <h4>Числа Фибоначи в количестве @Model.FibonacciCount</h4>
        <p>@Model.Output</p>
    }
    
    @if(Request.Method == "GET")
    {
        <h3>Метод GET</h3>
        <h4>Числа Фибоначи в количестве @Model.FibonacciCount</h4>
        <p>@Model.Output</p>
    }
    <p class="text-secondary p-2">Для метода GET ?FibonacciCount=</p>
</div>
