@page
@model IndexModel
@{
    ViewData["Title"] = "Население городов";
    var cities = ViewData["Cities"] as List<string>;
}
@inject IPopulationService populationService

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>

    <div class="card text-center">
        <div class="card-header">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Город</th>
                        <th>Население, чел</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < cities.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@cities[i]</td>
                            <td>@populationService.Population(cities[i])</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
