@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Тетсовая страница</p>
    <div class="card text-center">
        <div class="card-header">
            <h3>Евгений Онегин</h3><br />
            <h5>Роман в стихах</h5>
        </div>
        <div class="card-body">
            <p>
                He мысля гордый свет забавить,<br />
                Вниманье дружбы возлюбя,<br />
                Хотел бы я тебе представить<br />
                Залог достойнее тебя,<br />
                Достойнее души прекрасной,<br />
                Святой исполненной мечты,<br />
                Поэзии живой и ясной,<br />
                Высоких дум и простоты;<br />
                Но так и быть – рукой пристрастной<br />
                Прими собранье пестрых глав,<br />
                Полусмешных, полупечальных,<br />
                Простонародных, идеальных,<br />
                Небрежный плод моих забав,<br />
                Бессонниц, легких вдохновений,<br />
                Незрелых и увядших лет,<br />
                Ума холодных наблюдений<br />
                И сердца горестных замет.<br />
            </p>
            <h4>Глава первая</h4>
            <p>И жить торопится и чувствовать спешит.</p>
            <p>
                I<br />

                «Мой дядя самых честных правил,<br />
                Когда не в шутку занемог,<br />
                Он уважать себя заставил<br />
                И лучше выдумать не мог.<br />
                Его пример другим наука;<br />
                Но, боже мой, какая скука<br />
                С больным сидеть и день и ночь,<br />
                Не отходя ни шагу прочь!<br />
                Какое низкое коварство<br />
                Полуживого забавлять,<br />
                Ему подушки поправлять,<br />
                Печально подносить лекарство,<br />
                Вздыхать и думать про себя:<br />
                Когда же черт возьмет тебя!»<br />

                II<br />

                Так думал молодой повеса,<br />
                Летя в пыли на почтовых,<br />
                Всевышней волею Зевеса<br />
                Наследник всех своих родных.<br />
                Друзья Людмилы и Руслана!<br />
                С героем моего романа<br />
                Без предисловий, сей же час<br />
                Позвольте познакомить вас:<br />
                Онегин, добрый мой приятель,<br />
                Родился на брегах Невы,<br />
                Где, может быть, родились вы<br />
                Или блистали, мой читатель;<br />
                Там некогда гулял и я:<br />
                Но вреден север для меня [2].<br />
            </p>
        </div>
    </div>
</div>
